[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = micman134
	email = michaelokoro1@gmail.com.com
[gui]
	recentrepo = C:/Users/Mike/h
